//@use '@unocss/reset/tailwind.css';

// Global CSS Resets
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	background-color: hsl(var(--virgo-body-bg-color));
	color: var(--virgo-body-color);

	// Disable mobile tap blue color
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

:root {
	--virgo-base-color: var(--virgo-primary-hue), 10%, 20%;
	--virgo-spacing: 1;
	--virgo-theme-color: 0, 0%, 100%;
	--virgo-border-opacity: 0.12;
	--virgo-tooltip-bg-ccolor: 0,0%,8%;
}

:root.dark {
	--virgo-base-color: var(--virgo-primary-hue), 0%, 94%;
	--virgo-theme-color: 0, 0%, 0%;
	--virgo-tooltip-bg-color: 0,0%,25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsla(var(--virgo-base-color), 0.87);
}

// Misc

@keyframes shake {
	0%   {transform: translateX(0);}
	25%  {transform: translateX(1px);}
	50%  {transform: translateX(-1px);}
	100% {transform: translateX(0);}
}

.virgo-base-input-label.text-danger {
	animation-name: shake;
	animation-duration: 0.35s;
}

hr {
	border-color: hsla(var(--virgo-base-color),var(--virgo-border-opacity))
}

// Remove outline
button,
input,
select,
textarea {
	&:focus {
		outline: none;
	}
}

// ℹ️ Remove autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--virgo-body-color);
	transition: background-color 5000s ease-in-out 0s;
}

/* Styles adjusting VitePress according to theme */
:root {
	--virgo-base-color: var(--virgo-primary-hue), 10%, 20%;
	--virgo-tooltip-bg-color: 0,0%,8%;
	/* Background colors */
	--vp-background: hsl(var(--virgo-body-bg-color));
	--vp-c-bg: var(--vp-background);
	--vp-c-bg-alt: var(--vp-background);
	--vp-sidebar-bg-color: var(--vp-background);

	/* Text color */
	--vp-c-text-1: hsla(var(--virgo-base-color), var(--virgo-text-emphasis-medium-opacity));

	/* Font family */
	--vp-font-family-base: var(--vp-font-family-mono), 'Inter', sans-serif;
	--vp-font-family-mono: 'JetBrains Mono', v-mono, SFMono-Regular, Menlo, Consolas, Courier,
	monospace;;

	/* Branding */
	--vp-c-brand-lighter: hsl(var(--virgo-primary-hue), 97%, 75%);
	--vp-c-brand-light: hsl(var(--virgo-primary-hue), 97%, 70%);
	--vp-c-brand: hsl(var(--virgo-primary-hue), 97%, 66%);
	--vp-c-brand-dark: hsl(var(--virgo-primary-hue), 97%, 60%);
	--vp-c-brand-darker: hsl(var(--virgo-primary-hue), 97%, 55%);

	--vp-c-brand-info: hsl(207, 90%, 54%);
	--vp-c-brand-success: hsl(141, 71%, 48%);
	--vp-c-brand-warning: hsl(41, 80%, 65%);
	--vp-c-brand-error: hsl(335, 75%, 55%);
	/* We need this because menu component has 51 index which overlaps on navbar on scroll */
	/* --vp-z-index-nav: 52; */
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #EF0BFD 30%, #2387D5 );
	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		#EF0BFD 50%,
		#2387D5 50%
	);
	--vp-home-hero-image-filter: blur(40px);

	--vp-code-scrollbar-thumb-bg: hsl(0, 0%, 40%);
	--vp-code-line-height: 1.9;
}

:root.dark {
	/* Branding */
	--virgo-primary-hue: 297;
	--vp-c-brand-lighter: hsl(var(--virgo-primary-hue), 73%, 75%);
	--vp-c-brand-light: hsl(var(--virgo-primary-hue), 73%, 70%);
	--vp-c-brand: hsl(var(--virgo-primary-hue), 73%, 66%);
	--vp-c-brand-dark: hsl(var(--virgo-primary-hue), 73%, 60%);
	--vp-c-brand-darker: hsl(var(--virgo-primary-hue), 73%, 55%);
	--virgo-base-color: var(--virgo-primary-hue), 0%, 94%;
	--virgo-tooltip-bg-color: 0,0%,25%;
	--vp-code-scrollbar-thumb-bg: hsl(0, 0%, 25%);
}
/* /**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
	--vp-code-block-bg: rgba(125, 125, 125, 0.04);
	--vp-code-block-highlight-bg: rgba(125, 125, 125, 0.04);
	--vp-custom-title-text: #606266;
	--vp-layout-max-width: 1580px;
	--vp-sidebar-width: 252px;
	--vp-code-font-size: .92em;
	--virgo-td-color: #fff;
	--virgo-td-color-hover: rgb(247, 247, 250, 1);
	--virgo-td-color-modal: #fff;
	--virgo-td-color-popover: #fff;
	--virgo-td-text-color: rgb(51, 54, 57);
	--virgo-border-color: rgba(239, 239, 245, 1);
	--virgo-border-color-modal: rgba(239, 239, 245, 1);
	--virgo-border-color-popover: rgba(239, 239, 245, 1);
	--virgo-border-radius: 3px;
	--virgo-font-size: 14px;
	--vp-code-tab-active-text-color: var(--vp-c-text-1);
	--vp-code-copy-code-active-text: var(--vp-c-text-2);
	--virgo-th-color: rgba(250, 250, 252, 1);
	--virgo-th-color-modal: rgba(250, 250, 252, 1);
	--virgo-th-color-popover: rgba(250, 250, 252, 1);
	--virgo-th-font-weight: 500;
	--virgo-th-text-color: rgb(31, 34, 37);
	--virgo-line-height: 1.6;
	--virgo-td-padding: 12px;
	--virgo-th-padding: 12px;
	--virgo-td-color-striped: rgba(250, 250, 252, 1);
	--virgo-td-color-striped-modal: rgba(250, 250, 252, 1);
	--virgo-td-color-striped-popover: rgba(250, 250, 252, 1);
	--virgo-bezier: cubic-bezier(0.4, 0, 0.2, 1);
	--virgo-text-color: rgb(51, 54, 57);
	--virgo-font-weight-strong: 500;
	--virgo-font-famliy-mono: v-mono, SFMono-Regular, Menlo, Consolas, Courier,
	monospace;
	--virgo-code-border-radius: 2px;
	--virgo-code-text-color: rgb(51, 54, 57);
	--virgo-code-color: rgb(203, 203, 203);
	--virgo-code-border: 1px solid #0000;

	--vp-home-hero-image-filter: blur(40px);

	--vp-code-tab-divider: var(--vp-c-divider);
	--vp-code-copy-code-bg: rgba(125,125,125,0.1);
	--vp-code-copy-code-hover-bg: rgba(125,125,125,0.2);
	--vp-c-disabled-bg: rgba(125,125,125,0.2);
	--vp-code-tab-text-color: var(--vp-c-text-2);
	--vp-code-tab-hover-text-color: var(--vp-c-text-1);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(72px);
	}
}

.dark {
	--vp-code-block-bg: rgba(0, 0, 0, 0.2);
	--vp-c-text-code: #c0cec0;
	--vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
	--vp-custom-title-text: #cfd3dc;

	--virgo-td-color: rgb(24, 24, 28);
	--virgo-td-color-hover: rgb(38, 38, 42, 1);
	--virgo-td-color-modal: rgb(44, 44, 50);
	--virgo-td-color-popover: rgb(72, 72, 78);
	--virgo-td-text-color: rgba(255, 255, 255, 0.82);
	--virgo-border-color: rgba(45, 45, 48, 1);
	--virgo-border-color-modal: rgba(63, 63, 68, 1);
	--virgo-border-color-popover: rgba(88, 88, 94, 1);
	--virgo-th-color: rgba(38, 38, 42, 1);
	--virgo-th-color-modal: rgba(57, 57, 62, 1);
	--virgo-th-color-popover: rgba(83, 83, 89, 1);
	--virgo-th-text-color: rgba(255, 255, 255, 0.9);
	--virgo-td-color-striped: rgba(36, 36, 39, 1);
	--virgo-td-color-striped-modal: rgba(55, 55, 60, 1);
	--virgo-td-color-striped-popover: rgba(81, 81, 87, 1);
	--virgo-text-color: rgba(255, 255, 255, 0.82);
	--virgo-font-weight-strong: 500;
	--virgo-font-famliy-mono: v-mono, SFMono-Regular, Menlo, Consolas, Courier,
	monospace;
	--virgo-code-border-radius: 2px;
	--virgo-code-text-color: rgba(255, 255, 255, 0.82);
	--virgo-code-color: rgba(255, 255, 255, 0.12);
	--virgo-code-border: 1px solid #0000;
	--vp-code-tab-text-color: var(--vp-c-text-dark-2);
	--vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
	--vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
	--vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
}

/* ==========================
 Navbar
========================== */

/* Add border bottom instead of shadow */
.VPNav {
	border-bottom: thin solid hsla(var(--virgo-base-color), var(--virgo-border-opacity));
}

/* Remove shadow effect on scroll */
.VPNavBar .curtain {
	display: none;
}

/* There's height - 1 in VitePress site for maybe shadow, Use actual height */
.VPNavBar .content-body {
	height: var(--vp-nav-height);
	backdrop-filter: blur(6px);
}

.VPLocalNav {
	backdrop-filter: blur(6px);
}

/* Remove border bottom from title in navbar */
.VPNavBarTitle.has-sidebar .title {
	border-bottom: none;
}

/* Remove double border in mobile */
.VPNavBar.has-sidebar {
	border-bottom: none;
}

/* ==========================
 Sidebar
========================== */

/* Custom scrollbar */
.VPSidebar::-webkit-scrollbar {
	background: rgb(var(--virgo-layer-color));
	block-size: 8px;
	border-end-end-radius: 14px;
	border-start-end-radius: 14px;
	inline-size: 8px;
}

/* Track */
.VPSidebar::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.VPSidebar::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 90%);
	border-radius: 0.5rem;
}

.VPSidebar::-webkit-scrollbar-corner {
	display: none;
}

/* Add border on right */
.VPSidebar {
	border-right: thin solid hsla(var(--virgo-base-color), var(--virgo-border-opacity));
}

/* Make sidebar starts from bottom of navbar */
@media (min-width: 960px) {
	.VPSidebar {
		padding-top: 0 !important;
		margin-top: var(--vp-nav-height);
	}
}

/* Shift links due to emoji */
.VPSidebar .VPSidebarItem.is-link {
	transform: translateX(28px);
}

/* Hide scrollbar when not hovering */
.VPSidebar:not(:hover)::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.VPSidebar:not(:hover) {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.VPSidebar.open {
	backdrop-filter: blur(6px);
}


/* ==========================
 Dark
========================== */

:root.dark {
	--vp-c-bg-alt: var(--vp-background);
	--vp-code-line-highlight-color: hsl(0, 0%, 12%);
}

.dark .VPSidebar::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 10%);
	border-radius: 0.5rem;
}

/* code blocks */
.vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
	border: 1px solid transparent;
	background: hsl(0, 0%, 10%);
}

.dark .vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
	opacity: 0.85;
	font-weight: 500;
}

/* ==========================
 Demo
========================== */

.cards-demo-container {
	/* rounded-lg border-dashed border border-a-border p-8 bg-[hsla(var(--virgo-base-color), .05)] */
	@apply rounded-lg border-dashed border border-a-border p-8;
	background: hsla(var(--virgo-body-bg-color));
}

/* ==========================
 Typography
========================== */

.vp-doc h2:not(:where(.vp-raw *)) {
	letter-spacing: inherit;
}

/* ==========================
 Code snippet styles
========================== */

.vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
	border-radius: 8px;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.vp-doc .vp-code-group div[class*='language-']:not(:where(.vp-raw *)) {
	border-radius: 0 0 8px 8px;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

/* Custom scrollbar */
.vp-doc [class*='language-'] pre:not(:where(.vp-raw *))::-webkit-scrollbar {
	background: transparent;
	block-size: 8px;
	border-end-end-radius: 14px;
	border-start-end-radius: 14px;
	inline-size: 8px;
}

/* Track */
.vp-doc [class*='language-'] pre:not(:where(.vp-raw *))::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.vp-doc [class*='language-'] pre:not(:where(.vp-raw *))::-webkit-scrollbar-thumb {
	background: var(--vp-code-scrollbar-thumb-bg);
	border-radius: 0.5rem;
}

.vp-doc [class*='language-'] pre:not(:where(.vp-raw *))::-webkit-scrollbar-corner {
	display: none;
}

.vp-doc [class*=language-] code:not(:where(.vp-raw *)) span {
	font-style: initial !important;
}

.vp-doc [class*='language-'] code .highlighted:not(:where(.vp-raw *)) {
	background-color: var(--vp-code-block-highlight-bg);
}

/* Fix: Below style gets overridden by another style in production */
pre,
code,
kbd,
samp {
	font-family: var(--vp-font-family-mono) !important;
}


/* ==========================
 Home page
========================== */
.VPImage.image-src {
	width: 270px;
	height: auto;
}

html:not(.dark) .VPContent.is-home {
	background: hsl(var(--virgo-surface-color));
}

html:not(.dark) .VPContent.is-home+.VPFooter {
	background: hsl(var(--virgo-surface-color));
}

.VPHome {
	padding-bottom: 0 !important;
}

.VPHero.VPHomeHero .text {
	color: hsla(var(--virgo-base-color), 0.87)
}

.VPFooter {
	border-top: thin solid hsla(var(--virgo-base-color), var(--virgo-border-opacity)) !important;
}

.VPHero .image-bg {
	position: static;
	z-index: 1;
	opacity: 0.2;
	transform: unset;
	top:0;
	left:0;
	transition: opacity 1s ease;
	transform-origin: center;
	animation: background-image 20s ease-in-out infinite;
}

@keyframes background-image {
	0% {
		scale: 1;
		rotate: -120deg;
	}

	33% {
		scale: 1.2;
		rotate: 60deg;
	}

	50% {
		scale: 1;
		rotate: 0deg;
	}

	66% {
		scale: 0.8;
		rotate: -60deg;
	}

	100% {
		scale: 1;
		rotate: -120deg;
	}
}

.VPHero .image-container:hover .image-bg {
	opacity: 0.4;
}

/* ==========================
 Misc
========================== */

.vp-doc>div>p>img:only-child {
	border-radius: 6px;
}

/* API heading */
h2[id="api"] {
	border-top: none;
	margin-top: 5rem;
}

/* HACK: Vue components get red underlined text instead of blue */
.language-vue span[style="color: rgb(255, 85, 85); font-style: italic; text-decoration: underline;"],
.language-vue span[style="color:#FF5555;font-style:italic;text-decoration:underline;"] {
	color: #8BE9FD !important;
	text-decoration: none !important;
}

/* Fix code snippet overlaps on floating element (menu, select, etc) */
.vp-doc .line-numbers-wrapper:not(:where(.vp-raw *)),
.vp-doc [class*=language-] pre:not(:where(.vp-raw *)) {
	z-index: 0;
}

.bg-under-construction {
	background: repeating-linear-gradient(
		45deg,
		#f6d20033 ,
		#f6d20033  10px,
		#ffffff11 10px,
		#ffffff11 20px
	)
}

/* Safari has a very bad performance on gradient and filter */
.browser-safari, .browser-firefox {
	--vp-home-hero-image-background-image: transparent;
	--vp-home-hero-image-filter: '';
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
	--vp-custom-block-tip-border: var(--vp-c-brand);
	--vp-custom-block-tip-text: var(--vp-c-brand-darker);
	--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-warning-border: var(--vp-c-brand-warning);
	--vp-custom-block-warning-text: var(--vp-c-brand-darker);
	--vp-custom-block-warning-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-info-border: var(--vp-c-brand-info);
	--vp-custom-block-info-text: var(--vp-c-brand-darker);
	--vp-custom-block-info-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-error-border: var(--vp-c-brand-error);
	--vp-custom-block-error-text: var(--vp-c-brand-darker);
	--vp-custom-block-erro-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-details-border: var(--vp-c-brand);
	--vp-custom-block-details-text: var(--vp-c-brand-darker);
}

.dark {
	--vp-custom-block-tip-border: var(--vp-c-brand);
	--vp-custom-block-tip-text: var(--vp-c-brand-lightest);
	--vp-custom-block-tip-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-warning-border: var(--vp-c-brand-warning);
	--vp-custom-block-warning-text: var(--vp-c-brand-lightest);
	--vp-custom-block-warning-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-info-border: var(--vp-c-brand-info);
	--vp-custom-block-info-text: var(--vp-c-brand-lightestr);
	--vp-custom-block-info-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-error-border: var(--vp-c-brand-error);
	--vp-custom-block-error-text: var(--vp-c-brand-lightest);
	--vp-custom-block-erro-bg: var(--vp-c-brand-dimm);

	--vp-custom-block-details-border: var(--vp-c-brand);
	--vp-custom-block-details-text: var(--vp-c-brand-lightest);
}

.dark [img-light] {
	display: none;
}

html:not(.dark) [img-dark] {
	display: none;
}

.vp-doc table {
	display: table;
	font-size: var(--virgo-font-size);
	font-variant-numeric: tabular-nums;
	line-height: var(--virgo-line-height);
	width: 100%;
	border-radius: var(--virgo-border-radius) var(--virgo-border-radius) 0 0;
	text-align: left;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
	background-color: var(--virgo-td-color);
	border: 1px solid var(--virgo-merged-border-color);
	transition: background-color 0.3s var(--virgo-bezier),
	border-color 0.3s var(--virgo-bezier), color 0.3s var(--virgo-bezier);
	--virgo-merged-border-color: var(--virgo-border-color);
}

.vp-doc table th {
	white-space: nowrap;
	transition: background-color 0.3s var(--virgo-bezier),
	border-color 0.3s var(--virgo-bezier), color 0.3s var(--virgo-bezier);
	text-align: inherit;
	padding: var(--virgo-th-padding);
	vertical-align: inherit;
	text-transform: none;
	border: 0px solid var(--virgo-merged-border-color);
	font-weight: var(--virgo-th-font-weight);
	color: var(--virgo-th-text-color);
	background-color: var(--virgo-th-color);
	border-bottom: 1px solid var(--virgo-merged-border-color);
	border-right: 0px solid var(--virgo-merged-border-color);
}

.VPDoc.has-aside .content-container {
	max-width: 100% !important;
}

.vp-doc table td:first-child {
	width: 15%;
	font-weight: 600;
	font-family: v-mono, monospace;
	white-space: nowrap;
}

.vp-doc table tr {
	box-sizing: border-box;
	background-clip: padding-box;
	transition: background-color 0.3s var(--virgo-bezier);
}

.vp-doc table tbody tr:hover {
	background-color: var(--virgo-td-color-hover);
}
.vp-doc table tbody tr:hover td {
	background: none;
}

.vp-doc table td {
	transition: background-color 0.3s var(--virgo-bezier),
	border-color 0.3s var(--virgo-bezier), color 0.3s var(--virgo-bezier);
	padding: var(--virgo-td-padding);
	color: var(--virgo-td-text-color);
	background-color: var(--virgo-td-color);
	border: 0px solid var(--virgo-merged-border-color);
	min-width: 110px;
}

.vp-doc table tr:not(:last-child) td {
	border-bottom: 0px solid var(--virgo-merged-border-color);
}

.vp-doc pre, code, kbd, samp {
	font-family: 'DM mono';
	font-weight: 500;
}

.vp-doc :not(pre) > code {
	line-height: 1.4;
	display: inline-block;
	font-family: var(--virgo-font-famliy-mono);
	transition: color 0.3s var(--virgo-bezier), border-color 0.3s var(--virgo-bezier),
	background-color 0.3s var(--virgo-bezier) !important;
	box-sizing: border-box;
	padding: 0.05em 0.35em 0 0.35em !important;
	border-radius: var(--virgo-code-border-radius) !important;
	color: var(--virgo-code-text-color) !important;
	background-color: var(--virgo-code-color) !important;
	border: var(--virgo-code-border) !important;
}


.vp-doc h1,
h2,
h3,
h4,
h5,
strong,
b {
	font-weight: 600;
	color: var(--vp-custom-title-text);
}

.VPSocialLink {
	transform: scale(0.9);
}

.vp-doc tr th {
	font-size: 14px;
	font-weight: bold;
}

.vp-doc th,
.vp-doc td {
	padding: 6px 10px;
	border: 1px solid #8882;
}

.vp-doc .VPTeamMembers.medium.count-1 .container {
	max-width: 368px!important;
}

.vp-code-group .tabs label {
	color: hsla(0, 0%, 80%, 0.7);
}

.vp-code-group input:checked + label{
	color: hsl(0, 0%, 100%);
}

.vp-code-group .tabs {
	background-color: hsl(0, 0%, 10%);
}

table {
	width: 100% !important;
	display: table;
}

.custom-block.tip .custom-block-title {
	color: var(--vp-c-brand);
}

.custom-block.warning .custom-block-title {
	color: var(--vp-c-brand-warning);
}

.custom-block.info .custom-block-title {
	color: var(--vp-c-brand-info);
}

.custom-block.error .custom-block-title {
	color: var(--vp-c-brand-error);
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
	color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
	/* color: var(--vp-c-brand-lightest); */
	opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
	transition: color 0.25s;
}


// VPButton
.VPButton{
	@apply inline-flex whitespace-nowrap justify-center items-center relative focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none px-6 font-medium rounded-lg h-10 focus-visible:ring-2 ring-offset-2  virgo-button-content flex items-center justify-center gap-x-2
}
.VPButton.virgo {
	@apply flex gap-x-4 flex-wrap gap-y-2 inline-flex whitespace-nowrap justify-center items-center relative text-white bg-purple-500 shadow-md shadow-purple-500/20 transition-all hover:shadow-lg hover:shadow-purple-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none px-6 font-medium important:rounded-lg h-10 focus-visible:ring-2 ring-offset-2
}

.VPButton.virgo-alt{
	@apply flex gap-x-4 flex-wrap gap-y-2 inline-flex whitespace-nowrap justify-center items-center relative dark:text-white dark:bg-gray-800 text-gray-100 bg-gray-600 backdrop-blur-sm shadow-sm shadow-gray-100/10 transition-all hover:shadow-md focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none px-6 font-medium important:rounded-lg h-10 focus-visible:ring-2 ring-offset-2
}

.VPButton.virgo-white{
	@apply flex gap-x-4 flex-wrap gap-y-2 inline-flex whitespace-nowrap justify-center items-center relative text-gray-800 bg-gray-100 shadow-sm shadow-gray-100/10 transition-all hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none px-6 font-medium important:rounded-lg h-10 focus-visible:ring-2 ring-offset-2

}
